{% extends "base.html" %}
{% block title %}Home - Seaview Training{% endblock %}

{% block content %}
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h2>Welcome to Seaview Restaurant Training!</h2>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row justify-content-md-center">
            <a href="{{ url_for('manager.manage_employee') }}" class="btn btn-primary btn-lg btn-block">Manage Employee Accounts</a>
            <a href="{{ url_for('manager.manage_quizzes') }}" class="btn btn-primary btn-lg btn-block">Manage Quizzes</a>
            <a href="{{ url_for('announcement.announcements') }}" class="btn btn-primary btn-lg btn-block">Announcements</a>
            <a href="{{ url_for('manager.history_log') }}" class="btn btn-primary btn-lg btn-block">Attempt History Log</a>
            <a href="{{ url_for('quiz.quiz_log') }}" class="btn btn-primary btn-lg btn-block">Quiz History Log</a>
            <a href="{{ url_for('manager.quiz_trends') }}" class="btn btn-primary btn-lg btn-block">Quiz Trends</a>
        </div>
    </div>





    <!-- Add home page content here -->
{% endblock %}