{% extends "base.html" %}
{% block title %}Quiz Trends - Seaview Training{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md-auto">
                <h2>Quiz Trends</h2>
            </div>
        </div>
    </div>
    <div id="quizTrends" class="container"></div>
    <script>
        function createDoubleBarGraphs(quizzes, quizNames){

            const container = document.getElementById('quizTrends')

            quizzes.forEach((quiz_data, i) => {


                var data = {
                    labels: quiz_data[0],
                    datasets: [
                        {
                            label: 'Number of Correct',
                            backgroundColor: 'rgba(0, 230, 0, 0.5)',
                            borderColor: 'rgba(0, 230, 0, 1)',
                            borderWidth: 1,
                            data: quiz_data[1]
                        },
                        {
                            label: 'Number of Incorrect',
                            backgroundColor: 'rgba(230, 0, 0, 0.5)',
                            borderColor: 'rgba(230, 0, 0, 1)',
                            borderWidth: 1,
                            data: quiz_data[2]
                        }
                    ]
                };

                var options = {
                    plugins: {
                        title: {
                            display: true,
                            text: `Employee Progress for ${quizNames[i]}`,
                            font: {
                                size: 30
                            }
                        }
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero: true
                            }
                        }]

                    }
                };



                const canvas = document.createElement('canvas');
                canvas.id = `chart${i}`;
                container.appendChild(canvas);

                const context = canvas.getContext('2d');
                new Chart(context, {
                    type: 'bar',
                    data: data,
                    options: options
                });
            });
        }
        const quizzes = JSON.parse('{{ quizzes | tojson | safe }}');
        const quizNames = JSON.parse('{{ quiz_names | tojson | safe }}')
        createDoubleBarGraphs(quizzes, quizNames)

    </script>


<!--    <br/>-->
<!--&lt;!&ndash;Note from Parth to the Ryans: you're gonna need to put the route of your quiz taking function for href.-->
<!--    Look at the HTML code that Pranjal did on base.html, where she created the header for "Home", "Contact", "Logout"-->
<!--    if you need an example.&ndash;&gt;-->
<!--    <div style="width: 500px; text-align: left; padding: 30px">-->



<!--    </div>-->
    <!-- Add home page content here -->
{% endblock %}